.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 800px;
}

header {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	form {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		input {
			width: 40%;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.movies {
	display: grid;
	list-style: none;
	padding: 0;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;

	.movie {
		display: flex;
		flex-direction: column;
		h3 {
			margin: 0;
			text-align: center;
		}

		p {
			margin: 0;
			text-align: center;
		}

		img {
			text-align: center;
		}
	}
}

input {
	width: fit-content;

	&::placeholder {
		width: fit-content;
	}
}
